<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>integ-web penta</display-name>
  
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		        classpath:integSoapPContext.xml	           	            
		</param-value>
	</context-param>

  <context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>
			cl.liberty.prodp.integ.web.wsrest.AvisoRestService,
			cl.liberty.prodp.integ.web.wsrest.ChequeRestService,
			cl.liberty.prodp.integ.web.wsrest.PagoWebRestService,
			cl.liberty.prodp.integ.web.wsrest.SolicitudPagoRestService,
			cl.liberty.prodp.integ.web.wsrest.ComisionRestService,
			cl.liberty.prodp.integ.web.wsrest.ContabilidadRestService
		</param-value>
  </context-param>
  
  <context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
  </context-param>
  
  <listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
  </listener>
  
  <listener>
		<listener-class>
           org.springframework.web.context.ContextLoaderListener
        </listener-class>
	</listener>
  
  <session-config>
        <session-timeout>
            30
        </session-timeout>
  </session-config>
  
  <servlet>
        <servlet-name>log4j-init</servlet-name>
        <servlet-class>cl.liberty.prodp.integ.web.utils.StartingLog4j</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  
  <servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>
